@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,h2,h3,h4,h5,p {
    font-family: Phantom Sans;
}

a { 
    margin-top:10px;
    font-family: Phantom Sans;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: url('/media/imgs/background.jpg');
    background-size:cover
}

.window {
    border: solid;
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
}

.wheader {
    cursor: move;
    border-bottom: solid 2px #ccc;
}

.top {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    border: solid;
    border-radius: 10px;
    width: 100%;
}

.top p {
    margin-left: 16px;
    margin-right: 16px;
}

.bottom {
    backdrop-filter: blur(10px);
    border: solid;
    border-radius: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}