@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

h1,h2,h3,h4,h5,p,li {
    font-family: DM Sans;
}

a { 
    margin-top:10px;
    font-family: DM Sans;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: url('/media/imgs/background.jpg');
    background-size:cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

.window {
    border: solid;
    min-width: 300px;
    max-width: 600px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
}

.wheader {
    cursor: move;
    border-bottom: solid 2px #ccc;
    height: 40px;
}

.top {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    border: solid;
    border-radius: 10px;
    width: 100%;
}

.top p {
    margin-left: 16px;
    margin-right: 16px;
}

.bottom {
    backdrop-filter: blur(10px);
    border: solid;
    border-radius: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.bottom p {
    margin: 10px;
}

.apps {
    display: flex;
}

.system {
    display: flex;
    margin-right: 10px;
}

.app {
    display: flex;
    flex-direction: column; 
}

.app p {
    margin: 0;
    margin-right: 25px;
    text-align: center;
}

.rotate404 {
    display: inline-block;
    animation:spin 1.5s linear infinite;
}

@keyframes spin{
    0%{
        transform:rotate(0)
    }
    to
    {
        transform:rotate(360deg)
    }
}